body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background-image: url("images/maxresdefault.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: top;
}
#header {
	height: 100px;
	width: 100%;
	background-color: #6AD1F2;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:row
}
form {
	height: 200px;
	width: 500px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	background-color: rgba(229,235,239,0.82);
}
.textArea {
	height: 100px;
	width: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	border:none;
}
 hr{
	height: 1px;
	width: 480px;
	border:1px solid #6AD1F2;
	color:#6AD1F2;
	background-color: #6AD1F2;
	 }
.btn{
	background-color: #6AD1F2;
	color:#fff;
	font-size:24px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	border:1px solid #6AD1F2;
	border-radius:5px; }

.resposta{
	height: 200px;
	width: 500px;
	display: flex;
	justify-content:center;
	align-items:center; 
	background-color: rgba(229,235,239,0.92);}